table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.cart-table .table {
    position: relative;
    z-index: 9;
}

.cart_area table thead {
    background-color: #f4f2f8;
    border: none;
}

.cart_area table tbody tr td {
    width: 10% !important;
}

.cart_area table tbody tr td:first-child {
    width: 70% !important;
}

.cart_product_img > a {
    width: 100px;
    margin-right: 20px;
}

.cart-table .table td,
.cart-table .table th {
    padding: 12px;
    padding: 12px;
    padding: 0.75rem;
    text-align: left;
    vertical-align: middle;
    border: none;
    font-size: 13px;
}

.cart-table .cart_product_img h6 {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

.cart-table .qty-minus,
.cart-table .qty-plus {
    background-color: #f6f6f6;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.cart-table .qty-minus i,
.cart-table .qty-plus i {
    line-height: 30px;
    font-size: 10px;
}

.cart-table .qty-text {
    background-color: #f6f6f6;
    border: medium none;
    display: inline-block;
    height: 30px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    text-align: center;
    font-size: 12px;
    width: 50px;
}

.cart-table .quantity {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
}

.cart-table .price span,
.cart-table .total_price > span,
.cart-table .action > a {
    font-size: 14px;
}

.cart_area .update-checkout a,
.cart_area .back-to-shop a {
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
    height: 55px;
    line-height: 51px;
    min-width: 120px;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #3a3a3a;
    text-transform: uppercase;
}

.cart_area .update-checkout a:first-child {
    color: #7a7a7a;
    border-color: #f4f2f8;
}

.cart_area .update-checkout a:last-child {
    background-color: #f4f2f8;
    color: #7a7a7a;
    border-color: #f4f2f8;
}

.cart-page-heading {
    margin-bottom: 50px;
}

.cart-page-heading h5 {
    text-transform: uppercase;
    font-size: 18px;
}

.cart-page-heading p {
    color: #7a7a7a;
    font-size: 14px;
    margin-bottom: 0;
}



.shipping-method-area .custom-control-label span {
    font-size: 14px;
}

.cart-total-chart {
    background-color: #f4f2f8;
    padding: 30px;
}

.cart-total-chart li {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

.karl-checkout-btn {
    width: 100%;
    height: 60px;
    background-color: #ff084e;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 60px;
    padding: 0;
}


.karl-checkout-btn:hover,
.karl-checkout-btn:focus {
    background-color: #3a3a3a;
    color: #fff;
    font-weight: 700;
}

/* -----------------------
:: 19.0 Checkout Area CSS
----------------------- */

.checkout_details_area form label {
    font-size: 12px;
    text-transform: uppercase;
}

.checkout_details_area form label span {
    color: #ff084e;
}

.checkout_details_area form .form-control,
.checkout_details_area form .custom-select {
    height: 52px;
    border: none;
    background-color: #f4f2f8;
    border-radius: 0;
}

.order-details-confirmation {
    width: 100%;
    border: 2px solid #ebebeb;
    padding: 40px;
}

.order-details-confirmation .order-details-form li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 30px 0;
    border-bottom: 2px solid #ebebeb;
}

.order-details-confirmation .card-header h6 a {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}

.order-details-confirmation .card-header h6 a i {
    color: #9f9f9f;
}

.order-details-confirmation .card {
    border: none;
}

.order-details-confirmation .card-header {
    background-color: transparent;
    border-bottom: none;
}

.order-details-confirmation .card-body p {
    font-size: 12px;
    line-height: 2;
    color: #9f9f9f;
}

.cart {
    position: relative;
    z-index: 200;
}

.cart-list {
    background-color: #f4f6f8;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.15);
    -webkit-transition-duration: 750ms;
    transition-duration: 750ms;
    border-radius: 0;
    display: none;
    position: absolute;
    right: -44px;
    top: 50px;
    width: 280px;
    z-index: 120;
}



.cart-list li span {
    font-size: 13px;
    text-transform: uppercase;
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: Papyrus, fantasy;
    scroll-behavior: smooth;
}
p{
    font-size: 1em;
    font-weight: 300;
    color: #2C5F2D;
    background: #fff;
    display: inline-block;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pictures/bg.jpg);
    background-size: cover;
}
.banner .content{
    text-align: center;
    max-width: 900px;
}
h1{
    font-size: 5em;
    color: #2C5F2D;
}
h3{
    color: #2C5F2D;
    background: #fff;
    display: inline-block;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #2C5F2D;
    display: inline-block;
    padding: 10px, 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 5px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-content: center;
    transition: 0.5s;
}
.sticky{
    background: #fff;
    padding: 10px, 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
.logo{
    color: #2C5F2D;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
     background: #fff;
}
.logo span{
    color: #2C5F2D;
}
.nav{
    position: relative;
    display: flex;
}
li{
    list-style: none;
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: #4b8b3b;
    font-weight: 300;
}
a:hover{
    letter-spacing: 2px;
    color: #ff0157;
}

section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
    
}

.titleA{
    color: #2C5F2D;
    font-size: 2em;
    font-weight: 300;
}
.titleA span{
    color: #2C5F2D;
    font-weight: 700;
    font-size: 1.5em;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.contact{
    background: url(pictures/contacts.jpg);
    background-size: cover;
}
.contactForm{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    border 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type ="submit"]{
    font-size: 1em;
    color: #fff;
    background: #057d08;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.cpright{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.cpright p{
    color: #2C5F2D;
    font-weight: 500;
    text-decoration: none;
}
@media (max-width: 991px)
{
    header {
    padding: 10px 20px;
}


